# OSX files
.DS_Store

# Compiled python files
*.py[cod]
__pycache__
 
# C extensions
*.so
 
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
 
# Installer logs
pip-log.txt
 
# Unit test / coverage reports
.coverage
.tox
nosetests.xml
 
# Translations
*.mo
 
# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.iml

## Directory-based project format:
.idea/

# Backup files (from futurize)
*.bak

# Memory profiling files
mprofile*.dat
mprofile*.sh
mprofile*.py
src/*.c
_dist
telescope/utils/*.c
telescope/data/*
!telescope/data/alignment.bam
!telescope/data/annotation.gtf
!telescope/data/telescope_report.tsv
telescope-checkpoint.npz
telescope/telescope_id.py
telescope/telescope_load.py
telescope/telescope_tag.py
telescope/utils/oldmodel.py
